* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*mixins for grid and flex*/

@mixin flex-layout($row: row, $wrap: wrap, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $row; //row or column
    flex-wrap: $wrap; // Control wrapping behavior
    justify-content: $justify; // Control horizontal alignment
    align-items: $align; // Control vertical alignment
}

@mixin grid-layout($columns: 1fr, $rows: 1fr, $gap: 10px) {
    display: grid;
    grid-template-columns: $columns; // Set the number of columns
    grid-template-rows: $rows;
    grid-gap: $gap; // Set gap between grid items
}


$primary-color: rgb(0, 125, 165);

$breakpoint-mobile: 768px; /*Mobile*/
$breakpoint-desktop: 1024px; 


/*Header styling*/
.header {
    @include flex-layout(column);
    width: 100%;

    &__content,
    &__left-side,
    &__right-side {
        @include flex-layout(column);
    }

    &__banner {
        @include flex-layout(row, wrap, space-between);

    }

    &__logo-svg {
        width: 10em;

    }

    &__logo-text {
        margin-left: 5px;
    }

    &__navigation {
        background-color: $primary-color;
        padding: 20px;
        color: white;
        font-size: 1.8em;
        text-align: end;
    }

    &__left-side {
        @include flex-layout(row);
    }

    &__right-side {
        @include flex-layout(row, wrap, flex-start, center);
        margin-right: 15px;
    }

    &__search-icon {
        background: none;
        border: none;
        padding: 10px;
    }

    &__btn-signin {
        @include flex-layout(row, wrap, center, center);
        background-color: $primary-color;
        color: white;
        border: $primary-color;
        padding: 5px;
        margin-right: 20px;
    }

    &__btn-svg {
        width: 16px;
        margin-right: 5px;
        fill: white;
    }

    &__hero-box {

        @media (max-width: $breakpoint-desktop) {
            position: relative;
        }
    }

    &__hero-img {
        img {
            width: 100%;

        }
    }


    &__hero-left {

        margin: 10px;

        hr {
            height: 4px;
            background-color: $primary-color;
            width: 4em;
            border: none;
            margin: 0;
        }

        button {
            padding: 8px 15px;
            margin: 10px 0;
            background-color: $primary-color;
            color: white;
            border: none;
            margin-top: 10px;
        }

        h2 {
            margin: 5px 0;
        }

        p {
            margin: 5px 0;
        }

    }
    
}


/* @media (max-width: $breakpoint-desktop) {
        position: absolute;
        bottom: 2em;
        left: 15em;
        z-index: 1;
        width: 40%;

        
            h2 {
            margin: 15px 0 5px;
            font-size: 45px;
            color: white;
        }

        p{
            margin: 10px 0;
            font-size: 20px;
            color: white;
        }

        hr {
            height: 4px;
            background-color: $primary-color;
            width: 4em;
            border: none;
            margin: 0;   
        }

        button {
            padding: 8px 15px;
            margin: 10px 0;
            color: $primary-color;
        }

    }*/

/*learn styling      */
.learn {
    margin-top: 40px;

    button {
        @include flex-layout(row, wrap, center, center);
        background-color: $primary-color;
        color: white;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 2px;
        border: $primary-color;
        margin-bottom: 30px;
    }

    &__image-line {
        @include flex-layout(column);
    }

    &__image {
        @include flex-layout(row, nowrap);

        img {
            object-fit: cover;
            width: 50%;
            height: 150px;
            margin: 0 10px 10px
        }

        h2 {
            margin: 8px;

        }

        p {
            margin: 8px;
        }
    }

    @media (min-width: $breakpoint-desktop) {

    }


}

/*welcome and discover styling*/
.welcome,
.discover {
    @include flex-layout(column);
    flex-direction: column-reverse;

    &__content {
        width: 100%;
        background-color: $primary-color;
        color: white;
        padding: 20px;

        h1 {
            margin-top: 0;
            font-weight: 300;
        }
    }

    &__image {
        margin-top: 30px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        grid-row: 1 / -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    &__church-finder-input,
    &__church-finder-button,
    &__btn-request-visit {
        display: block;
        height: 2em;
        color: $primary-color;
        margin-bottom: 8px;
        border-radius: 5px;
        border: none;
    }

    &__church-finder-input {
        width: 100%;

    }
}

.questions {
    @include flex-layout(column, wrap, center, center);
    margin-top: 30px;
    width: 100%;

    &__content {
        @include flex-layout(column, nowrap);


        h1 {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            font-weight: 300;
        }


    }

    &__list {

        @include flex-layout(column);

        p {
            margin-left: 2em;
        }

        svg {
            width: 16px;
            color: $primary-color;
            margin-left: 5px;
        }
    }

    &__item {
        @include flex-layout(row, nowrap, space-between, center);
        padding-bottom: 10px;
    }

    &__horizontal-line {

        height: 1px;
        width: 100%;
        background-color: lightgray;
        opacity: .5;

    }

    &__btn-view-more {
        width: 8em;
        margin: 20px 0;
        padding: 10px;
        background-color: $primary-color;
        border: none;
        color: white;
    }

}

/*message styling*/
.message {
    .message {
        @include flex-layout(column);

        width: 100%;

        &__content {
            @include flex-layout(column);
            margin: 40px 20px;

            text-align: center;
            justify-content: center;
            line-height: 1.6em;


            h1 {
                font-weight: 100;
                text-align: center;
            }
        }

        &__image {
            @include flex-layout(row, nowrap, center, center);
            margin: 0 20px;

            img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                border-radius: 50px;
            }


        }



        &__img-description {
            @include flex-layout(column, wrap, flex-start, flex-start);
            margin-left: 20px;

            h2 {
                font-weight: 200;
                margin-bottom: 0;

            }

            p {
                margin-top: 5px;
                text-align: left;
            }
        }
    }

}
/*community styling*/
.community {
    .community {
        &__content {
            @include flex-layout(column)
        }

        &__header {
            grid-column: 1 / -1;
            text-align: center;
            font-weight: 100;
        }

        &__image,
        &__image-2,
        &__image-3 {
            text-align: center;
            padding: 40px;
            @include flex-layout(column, wrap, center, center);

            img {
                width: 288px;
                height: 288px;
                object-fit: cover;
                border-radius: 50%;
            }

            button {
                padding: 10px 20px;
                background-color: $primary-color;
                border: none;
                color: white;
                margin-top: 20px
            }

        }
    }
}

/*news styling*/

.news {

    margin-top: 40px;

    &__content {
        @include flex-layout(column);
    }

    &__image {


        img {
            width: 100%;
            object-fit: cover;
        }

    }

    &__text {
        background-color: $primary-color;
        height: 100%;
        width: 100%;
        padding: 20px;
        color: white;
        margin-bottom: 50px;

        h2 {
            margin-top: 0;
            font-weight: 100;
        }
    }

    &__btn-visit-newsroom {
        padding: 10px;
        color: $primary-color;
    }
}

/*explore styling*/
.explore {
    
    &__content {
        @include flex-layout(column, nowrap, center, center);
    }

    &__image {
        @include flex-layout(column);
        margin: 30px 0;
        align-items: center;
    }

    &__description {
        text-align: center;
    }

    &__line {
        width: 10em;
        height: 1px; 
        background-color: $primary-color;
         
    }
}










//Main styling
/*
//Learn section

.learn {
    width: 100%;
    max-width: 1200px;
    justify-self: center;

    &__text {
        @include flex-layout(row, wrap, start, baseline);
        gap: 1.5rem;
        margin-top: 4em;
        margin-left: 5em;

        h2 {
           font-size: 2rem; 
           font-weight: 100;
           line-height: 1.2;
           margin: 0;
        }

        p {
            font-size: 1.125rem;
            margin: 0;
        }

        button {
            @include flex-layout(row, wrap, center, center);
            background-color: $primary-color;
            color: white;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 2px;
            border: $primary-color;
            margin: 0;
        }
    }

    &__image-line {
        @include flex-layout(row, wrap, center);
    }

    &__image {
        width: 20em;
        margin: 20px;
        

        img {
            height: 200px;
            width: 100%;   
        }

        h2 {
            margin: 5px 0;
        }

        p{
            margin: 5px 0;
        }
    }
}

//welcome section styling
.welcome {
    @include grid-layout(repeat(3, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 30px;

   &__content {
    grid-column: 1 / 3;
    grid-row: 1/ -1;
    background-color: $primary-color;
    color: white;
    padding: 120px 50px;

    h1 {
        display: grid;
        justify-content: flex-start;
        align-items: center;
        font-weight: 300;
    }
   
   }

   &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-row: 1 / -1;
    img {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        object-fit: cover; 
       
    }
   }
   &__church-finder-input,
   &__church-finder-button {
    height: 2em;
    color: $primary-color
   }
}

//questions styling
.questions {
    @include flex-layout(column, wrap, center, center);
    margin-top: 8em;
    width: 100%;
     
    &__content {
        @include flex-layout(column, wrap, center, center);
        width: 60%;
        max-width: 1200px;

        h1 {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            font-weight: 300;
        }
        
         
    }

    &__list {
        width: 100%;
        margin-top: 10px;
        @include flex-layout(column);

        p {
            margin-left: 2em;
        }

        svg {
            width: 16px;
            color: $primary-color;
            margin-left: 5px;
        }
    }

    &__item {
        @include flex-layout(row, wrap, space-between, center); 
        padding-bottom: 10px;  
    }

    &__horizontal-line {
    
            height: 1px;
            width: 100%;
            background-color: lightgray;
            opacity: .5;
        
    }

    &__btn-view-more {
        width: 8em;
        margin: 30px 0;
        padding: 10px;
        background-color: $primary-color;
        border: none;
        color: white;
    }  
    
}

//discover section styling
.discover {
    @include grid-layout(repeat(3, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 30px;

   &__content {
    grid-column: 1 / 3;
    grid-row: 1/ -1;
    background-color: $primary-color;
    color: white;
    padding: 120px 50px;

    h1 {
        display: grid;
        justify-content: flex-start;
        align-items: center;
        font-weight: 300;
    }
   
   }

   &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-row: 1 / -1;
    img {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        object-fit: cover; 
       
    }
   }
   &__btn-request-visit {
    padding: 10px;
    color: $primary-color;
   }
}

//message styling
.message {
    @include flex-layout(column);
    width: 100%;
    margin: 10em 0;
    justify-content: center;
    align-items: center;


    &__content {
        @include flex-layout(column);
        width: 50%;
        max-width: 800px;
        text-align: center;
        justify-content: center;
        line-height: 1.6em;
        

        h1 {
            font-weight: 100;
            text-align: center;
        }
    }

    &__image {
        @include flex-layout(row, wrap, center, center);
        margin-top: 2em;
        

    }

    img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50px;
    }

    &__img-description {
       @include flex-layout(column, wrap, flex-start, flex-start);
       margin-left: 20px;

       h2 {
        font-weight: 200;
        margin-bottom: 0;
      
       }

       p {
        margin-top: 5px;
        text-align: left;
       }
    }
}

//community styling
.community {
    &__content {
        @include grid-layout(repeat(3, 1fr), 5em 2fr, 1rem);
        margin: 20px;
    }

    &__header {
        grid-column: 1 / -1;
        text-align: center;
        font-weight: 100;
    }

    &__image,
    &__image-2,
    &__image-3 {
        text-align: center;
        padding: 40px;
        @include flex-layout(column, wrap, center, center);
        
        img {
            width: 288px;
            height: 288px;
            object-fit: cover;
            border-radius: 50%;
        }
        
        button {
            padding: 10px 20px;
            background-color: $primary-color;
            border: none;
            color: white;
            margin-top: 20px
        }
     
    }
}

//news styling

.news {
   
    margin-top: 30px;

   &__content {
    @include grid-layout(repeat(3, 1fr));
    justify-content: center;
    align-items: center;
   }

   &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        object-fit: cover; 
       
    }
   }

   &__text {
    background-color: $primary-color;
    height: 100%;
    width: 100%;
    grid-column: 2 / 4;
    padding: 120px;
    color: white;
   }
   &__btn-visit-newsroom {
    padding: 10px;
    color: $primary-color;
   }
}

//explore styling
.explore {
    
    &__content {
        @include flex-layout(row, wrap, center, center);
        margin: 8rem auto;
        justify-content: center;
    }

    &__image {
        padding: 0 100px;
    }

    &__line {
        width: 1px; 
        height: 10em; 
        background-color: $primary-color;
         
    }
}*/