* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*mixins for grid and flex*/
/*Header styling*/
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}
.header__content, .header__left-side, .header__right-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.header__banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.header__logo-svg {
  width: 10em;
}
.header__logo-text {
  margin-left: 5px;
}
.header__navigation {
  background-color: rgb(0, 125, 165);
  padding: 20px;
  color: white;
  font-size: 1.8em;
  text-align: center;
}
.header__left-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.header__right-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
}
.header__search-icon {
  background: none;
  border: none;
  padding: 10px;
}
.header__btn-signin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 125, 165);
  color: white;
  border: rgb(0, 125, 165);
  padding: 5px;
  margin-right: 20px;
}
.header__btn-svg {
  width: 16px;
  margin-right: 5px;
  fill: white;
}
.header__hero-img img {
  width: 100%;
}
.header__hero-box {
  position: relative;
}
.header__hero-left {
  margin: 10px;
}
.header__hero-left hr {
  height: 4px;
  background-color: rgb(0, 125, 165);
  width: 4em;
  border: none;
  margin: 0;
}
.header__hero-left button {
  background-color: rgb(0, 125, 165);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
}
.header__hero-left button:hover {
  background-color: rgb(33, 34, 37);
  color: white;
}
.header__hero-left h2 {
  margin: 5px 0;
}
.header__hero-left p {
  margin: 5px 0;
}
@media (min-width: 1024px) {
  .header__hero-left {
    position: absolute;
    bottom: 2em;
    left: 3em;
    z-index: 1;
    width: 40%;
  }
  .header__hero-left h2 {
    margin: 15px 0 5px;
    font-size: 45px;
    color: white;
  }
  .header__hero-left p {
    margin: 10px 0;
    font-size: 20px;
    color: white;
  }
  .header__hero-left hr {
    height: 4px;
    background-color: rgb(0, 125, 165);
    width: 4em;
    border: none;
    margin: 0;
  }
  .header__hero-left button {
    padding: 8px 15px;
    margin: 10px 0;
    color: white;
  }
  .header__hero-left button:hover {
    background-color: white;
    color: rgb(0, 125, 165);
  }
}

.learn {
  margin-top: 40px;
}
.learn button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 125, 165);
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2px;
  margin-bottom: 30px;
}
.learn button:hover {
  background-color: rgb(33, 34, 37);
  color: white;
}
.learn__image-line {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.learn__image {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.learn__image img {
  object-fit: cover;
  width: 50%;
  height: 150px;
  margin: 0 10px 10px;
}
.learn__image h2 {
  margin: 8px;
}
.learn__image p {
  margin: 8px;
}
@media (min-width: 1024px) {
  .learn {
    width: 100%;
    max-width: 1200px;
    justify-self: center;
  }
  .learn__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 4em;
    margin-left: 5em;
  }
  .learn__text h2 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
    margin: 0;
  }
  .learn__text p {
    font-size: 1.125rem;
    margin: 0;
  }
  .learn__image-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  .learn__image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 20em;
    margin: 20px;
  }
  .learn__image img {
    height: 200px;
    width: 100%;
  }
  .learn__image h2 {
    margin: 5px 0;
  }
  .learn__image p {
    margin: 5px 0;
  }
}

.welcome,
.discover {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.welcome__content,
.discover__content {
  width: 100%;
  background-color: rgb(0, 125, 165);
  color: white;
  padding: 20px;
}
.welcome__content h1,
.discover__content h1 {
  margin-top: 0;
  font-weight: 300;
}
.welcome__image,
.discover__image {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-row: 1/-1;
}
.welcome__image img,
.discover__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.welcome__church-finder-input, .welcome__church-finder-button, .welcome__btn-request-visit,
.discover__church-finder-input,
.discover__church-finder-button,
.discover__btn-request-visit {
  display: block;
  height: 2em;
  color: rgb(0, 125, 165);
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}
.welcome__church-finder-input,
.discover__church-finder-input {
  width: 100%;
}
@media (min-width: 1024px) {
  .welcome,
  .discover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .welcome__content,
  .discover__content {
    grid-column: 1/3;
    grid-row: 1/-1;
    background-color: rgb(0, 125, 165);
    color: white;
    padding: 120px 50px;
  }
  .welcome__content h1,
  .discover__content h1 {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300;
  }
  .welcome__image,
  .discover__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-row: 1/-1;
    margin: 0;
  }
  .welcome__image img,
  .discover__image img {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    object-fit: cover;
  }
  .welcome__church-finder-input, .welcome__church-finder-button, .welcome__btn-request-visit,
  .discover__church-finder-input,
  .discover__church-finder-button,
  .discover__btn-request-visit {
    background-color: white;
    color: rgb(0, 125, 165);
    padding: 10px;
    border: none;
    border-radius: -radius;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 25em;
    height: auto;
  }
  .welcome__church-finder-input:hover, .welcome__church-finder-button:hover, .welcome__btn-request-visit:hover,
  .discover__church-finder-input:hover,
  .discover__church-finder-button:hover,
  .discover__btn-request-visit:hover {
    background-color: rgb(33, 34, 37);
    color: white;
  }
  .welcome__church-finder-button, .welcome__btn-request-visit,
  .discover__church-finder-button,
  .discover__btn-request-visit {
    width: auto;
    padding: 8px 15px;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.questions__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.questions__content h1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: 300;
}
.questions__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.questions__list p {
  margin-left: 2em;
}
.questions__list svg {
  width: 16px;
  color: rgb(0, 125, 165);
  margin-left: 5px;
}
.questions__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.questions__horizontal-line {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  opacity: 0.5;
}
.questions__btn-view-more {
  background-color: rgb(0, 125, 165);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 8em;
  margin: 20px 0;
  padding: 10px;
}
.questions__btn-view-more:hover {
  background-color: rgb(33, 34, 37);
  color: white;
}
@media (min-width: 1024px) {
  .questions .questions {
    margin-top: 8em;
  }
  .questions .questions__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 1200px;
  }
  .questions .questions__list {
    width: 100%;
    margin-top: 10px;
  }
  .questions .questions__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}
.message__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 40px 20px;
  text-align: center;
  line-height: 1.6em;
}
.message__content h1 {
  font-weight: 100;
  text-align: center;
}
.message__image {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.message__image img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50px;
}
.message__img-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.message__img-description h2 {
  font-weight: 200;
  margin-bottom: 0;
}
.message__img-description p {
  margin-top: 5px;
  text-align: left;
}
@media (min-width: 1024px) {
  .message {
    width: 100%;
    margin: 10em 0;
    justify-content: center;
    align-items: center;
  }
  .message__content {
    width: 50%;
    max-width: 800px;
  }
  .message__image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
}

.community__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.community__header {
  text-align: center;
  font-weight: 100;
}
.community__image, .community__image-2, .community__image-3 {
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.community__image img, .community__image-2 img, .community__image-3 img {
  width: 288px;
  height: 288px;
  object-fit: cover;
  border-radius: 50%;
}
.community__image button, .community__image-2 button, .community__image-3 button {
  background-color: rgb(0, 125, 165);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;
  margin-top: 20px;
}
.community__image button:hover, .community__image-2 button:hover, .community__image-3 button:hover {
  background-color: rgb(33, 34, 37);
  color: white;
}
@media (min-width: 1024px) {
  .community .community__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5em 2fr;
    grid-gap: 1rem;
    margin: 20px;
  }
  .community .community__header {
    grid-column: 1/-1;
  }
}

/*news styling*/
.news {
  width: 100%;
  margin-top: 40px;
}
.news__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.news__image {
  height: 100%;
}
.news__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__text {
  background-color: rgb(0, 125, 165);
  height: 100%;
  width: 100%;
  padding: 50px 30px;
  color: white;
  margin-bottom: 50px;
}
.news__text h2 {
  margin-top: 0;
  font-weight: 100;
}
.news__btn-visit-newsroom {
  padding: 10px;
  color: rgb(0, 125, 165);
}
@media (min-width: 1024px) {
  .news {
    margin-top: 60px;
  }
  .news__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .news__text {
    grid-column: 2/4;
    padding: 140px;
    margin: 0;
  }
  .news__btn-visit-newsroom {
    background-color: white;
    color: rgb(0, 125, 165);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .news__btn-visit-newsroom:hover {
    background-color: rgb(33, 34, 37);
    color: white;
  }
  .news__btn-visit-newsroom:hover {
    background-color: rgb(33, 34, 37);
    color: white;
  }
}

/*explore styling*/
.explore__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.explore__image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}
.explore__description {
  text-align: center;
}
.explore__line {
  width: 10em;
  height: 1px;
  background-color: rgb(0, 125, 165);
}
@media (min-width: 1024px) {
  .explore__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8rem auto;
  }
  .explore__image {
    padding: 0 100px;
  }
  .explore__line {
    width: 1px;
    height: 10em;
  }
}

/*# sourceMappingURL=styles.css.map */
